body {
    overflow: hidden
}

#to-gallery {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay-control {
    cursor: pointer;
}

.hidden {
    display: none;
}
